<div class="card" style="margin: 10px">
	{{!-- <img src="/staticFiles/img/{{img}}" class="card-img-top" alt="..." /> --}}
	<div class="card-body">
		<h5 class="card-title">{{ingrediente}}</h5>
		<p class="card-text">Cantidad: {{cantidad}}</p>
		<a href="/remove?id={{id}}" class="btn btn-primary">Delete ingredient</a>
	</div>
</div>
