<h1>{{title}}</h1>

<form action = "/list/form" method="POST">
	<p>Ingrediente:</p>
	<input name="ingrediente" />
	<p>Cantidad</p>
	<input name="cantidad" />
	<p></p>
	<button type="submit">Añadir</button>
</form>
<a href="/">Back</a> 